on: [push, pull_request]

name: CI
jobs:
  test:
    strategy:
      matrix:
        go: [ '1.13', '1.15' ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
      fail-fast: false
    
    name: Test suite
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - name: Run tests
        run: go test -v ./...
